* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3a3a;
}

.container {
  max-width: 700px;
  margin: 0px auto;
  padding: 30px;
}

.todo-list {
  margin-top: 20px;
}

.todo-item {
  border: 1px solid blue;
  margin-bottom: 8px;
  padding: 5px 10px;
  border-radius: 5px;
}
